[submodule "PQ9Bus"]
	path = PQ9Bus
	url = https://github.com/DelfiSpace/PQ9Bus
[submodule "DWire"]
	path = DWire
	url = https://github.com/DelfiSpace/DWire
[submodule "EPS_FlightSoftware"]
	path = EPS_FlightSoftware
	url = https://github.com/DelfiSpace/EPS_FlightSoftware
[submodule "INA226"]
	path = INA226
	url = https://github.com/DelfiSpace/INA226
[submodule "DSPI"]
	path = DSPI
	url = https://github.com/DelfiSpace/DSPI
[submodule "LTC2942"]
	path = LTC2942
	url = https://github.com/DelfiSpace/LTC2942
